  <div class="jumbotron">
    <h2>Login</h2><br>
      <% if flash[:message] %>
          <%= flash[:message] %>
      <% end %>

    <%= form_for :user do |f| %>
    
      <h4><%= f.label :email %></h4>
      <%= f.email_field :email, class: 'form-control col-lg-4' %>
      <br>
      <h4><%= f.label :password %></h4>
      <%= f.password_field :password, class: 'form-control col-lg-4' %>
      <br>
      <%= f.submit "Login", class: "btn btn-primary " %>
      
    <% end %>
    <br>
      <%= link_to 'Sign up', signup_path %>
</div>