<div class='container'>
    <br>
    <h1> My Tasting Notes </h1>
    <br><br>
    <div class='nav justify-content-between'>
        
        <%= link_to '+ Add New Tasting Note', new_user_tasting_note_path(@user), class: 'btn btn-primary' %>
    </div>
    <br>

    <div class='card'>
        <% @user.tasting_notes.each do |tn| %>
        <div class='card-body'>
            <h3><%= link_to tn.wine.name, wine_path(tn.wine), class: 'card-title'%></h3><br>
                <p class='card-text'>Producer: <%= tn.wine.producer.name %></p>
                <p class='card-text'>Location: <%= tn.wine.producer.location %></p> 

            <div class='nav justify-content-between'>
                <h5 class='btn btn-primary disabled'> Rating: <%= tn.rating %>/5</h5>
                <h5><%= tn.comment %> </h5>
                <h5 class='text-right'><%= link_to 'Go to note', user_tasting_note_path(tn.user_id, tn) %></h5>
            </div>
        </div>
        <% end %>
    <div>


</div>