<h1> My Dashboard </h1>


<h3>My Wines</h3>

    <% @user.tasting_notes.each do |tn| %>
    <fieldset>
        <h2><%= link_to tn.wine.name, wine_path(tn.wine) %></h2>
        <p> Producer: <%= tn.wine.producer.name %> <br><br>
            Location: <%= tn.wine.producer.location %> </p>
        <hr>
        <h5> Rating: <%= tn.rating %><br><br>
         Note: <%= tn.comment %> <%= link_to 'Go to note', user_tasting_note_path(tn.user_id, tn) %> </h5>

    </fieldset>
    <% end %>
<br><br>

<% if current_user && logged_in? %>
<%= link_to 'Add a new tasting note', new_user_tasting_note_path(@user) %>
<% end %>

