<br><br>
<div class='container'>
  <div class='nav flex-column'>
    <h2><%= link_to @tasting_note.wine.name, wine_path(@tasting_note.wine) %></h2>
    <h5>Producer: <%= link_to @tasting_note.wine.producer.name, producer_path(@tasting_note.wine.producer) %></h5> <h5> Location: <%= @tasting_note.wine.producer.location %></h5>
  </div>
  <div class="card">
    <div class='card-body'>
      <h5 class=''><%= @tasting_note.comment %></h5>
      <p class='btn btn-primary'>Rating: <%= @tasting_note.rating %></p><br>
      
      <% if @tasting_note.user_id == session[:user_id] %>
      <%= link_to 'Edit note',  edit_user_tasting_note_path(current_user, @tasting_note) %> 
      <%= link_to 'Delete note', user_tasting_note_path(current_user, @tasting_note), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>
</div>