<br><br>
<fieldset>
<h2><%= link_to @tasting_note.wine.name, wine_path(@tasting_note.wine) %></h2>
<h2>Producer: <%= @tasting_note.wine.producer.name %></h2> <h4> Location: <%= @tasting_note.wine.producer.location %></h4>
<p>Rating: <strong><%= @tasting_note.rating %></strong></p>
<p>Review: <%= @tasting_note.comment %></p>

<% if @tasting_note.user_id == session[:user_id] %>
 <%= link_to 'Edit note',  edit_user_tasting_note_path(current_user, @tasting_note) %> 
 <%= link_to 'Delete note', user_tasting_note_path(current_user, @tasting_note), method: :delete, data: {confirm: "Are you sure?"} %>
 <% end %>
</fieldset>