<div>
<h1> <%= @producer.name %> </h1>
<p> <%= @producer.location %> </p>
</div>

<% @producer.wines.each do |w| %>
  <fieldset>
  <h3><%= link_to w.name, wine_path(w) %></h3>
  <p>Vintage: <%= w.vintage %></p>
  </fieldset>
<% end %>


<% if current_user && logged_in? %>
<%= link_to 'Add a wine', new_wine_path %>
<%= link_to 'See all producers', producers_path %>
<% end %>