<br><br>
<div class='container'>
  <div class='nav flex-column'>
      <h2> <%= @wine.name %> </h2>
      <h5><%= "Vintage" if @wine.vintage > 1900 %> <%= @wine.vintage if @wine.vintage > 1900 %> </h5>
      <h5>Producer: <%= link_to @wine.producer.name, producer_path(@wine.producer) %></h5>
      <h5><%= "This wine currently has no tasting notes." if @wine.tasting_notes.count == 0 %></h5>
      <h5><%= link_to '+ Add Tasting Note', new_user_tasting_note_path(current_user) if @wine.tasting_notes.count == 0%></h5>
  </div>

    <h2><%= "Tasting Notes For: " if @wine.tasting_notes.count > 0 %><%= @wine.name if @wine.tasting_notes.count > 0 %></h2><br>
        
     <div class="list-group">
       <% @wine.tasting_notes.each do |t| %>
       <div class="list-group-item list-group-item-action flex-column align-items-start">
         <p class='text-right'>Review by: <%= t.user.username %></p> 
         <h4><%= t.comment %></h4><br>
         <button class='btn btn-primary disabled'>Rating: <%= t.rating %>/5</button>
          
           <% if t.user_id == session[:user_id] %>
             <%= link_to "Edit", edit_user_tasting_note_path(current_user, t) %>
             <%= link_to 'Delete', user_tasting_note_path(current_user, t), method: :delete, data: {confirm: "Are you sure?"} %> 
           <% end %>
           
         <br><br>
       </div>
       <% end %>
     </div>



</div>
