<fieldset>
<h2> <%= @wine.name %> </h2>

<h3>Vintage: <%= @wine.vintage %> </h3>

<h3>Producer: <%= link_to @wine.producer.name, producer_path(@wine.producer) %><h3>

<h1> <%= "Tasting Notes For: " if @wine.tasting_notes.count > 0 %><%= @wine.name if @wine.tasting_notes.count > 0 %></h1>


<% @wine.tasting_notes.each do |t| %>
<fieldset>
<p>
  Rating: <%= t.rating %><br>
  Comment: <%= t.comment %><br>
  Review by: <%= t.user.username %><br> 
</p>
<% if t.user_id == session[:user_id] %>
   <%= link_to "Edit Review", edit_user_tasting_note_path(current_user, t) %>
  <% end %>
  </fieldset>
<% end %>
