<br><br>
<fieldset>
<h2> <%= @wine.name %> </h2>

<h3><%= "Vintage" if @wine.vintage > 1900 %> <%= @wine.vintage if @wine.vintage > 1900 %> </h3>

<h3>Producer: <%= link_to @wine.producer.name, producer_path(@wine.producer) %><h3>

<h3><%= "This wine currently has no tasting notes." if @wine.tasting_notes.count == 0 %></h3>

<%= link_to 'Add Tasting Note', new_user_tasting_note_path(current_user) if @wine.tasting_notes.count == 0 %> 

<h1> <%= "Tasting Notes For: " if @wine.tasting_notes.count > 0 %><%= @wine.name if @wine.tasting_notes.count > 0 %></h1>


<% @wine.tasting_notes.each do |t| %>
<fieldset>
<p>
  Rating: <%= t.rating %><br>
  Comment: <%= t.comment %><br>
  Review by: <%= t.user.username %><br> 
</p>

<% if t.user_id == session[:user_id] %>
   <%= link_to "Edit Review", edit_user_tasting_note_path(current_user, t) %>
   <%= link_to 'Delete', user_tasting_note_path(current_user, t), method: :delete, data: {confirm: "Are you sure?"} %> 
  <% end %>
  </fieldset>
<% end %>
