
<h2> <%= @wine.name %> </h2>

<h3>Vintage: <%= @wine.vintage %> </h3>

<h3>Producer: <%= link_to @wine.producer.name, producer_path(@wine.producer) %><h3>

<h1>Tasting Notes for <%= @wine.name %></h1>
<% @wine.tasting_notes.each do |t| %>
<fieldset>
  <%= t.rating %>
  <%= t.comment %>
</fieldset>


<% end %>
