<br><br>
<div class='container'>

    <%= render 'show_nav' %>


    <h2><%= "Reviews For: " if @wine.tasting_notes.count > 0 %><%= @wine.name if @wine.tasting_notes.count > 0 %></h2><br>
        
     <div class="list-group">
       <% @wine.tasting_notes.each do |t| %>
       <div class="list-group-item list-group-item-action flex-column align-items-start">
         <p class='text-right'>Review by: <%= t.user.username %></p> 
         <h4><%= t.comment %></h4><br>
         <button class='btn btn-primary disabled'>Rating: <%= t.rating %>/5</button>
         
          
           <% if t.user_id == session[:user_id] %>
             <%= link_to "Edit", edit_user_tasting_note_path(current_user, t) %>
             <%= link_to 'Delete', user_tasting_note_path(current_user, t), method: :delete, data: {confirm: "Are you sure?"} %> 
           <% end %>
           
         <br><br>
       </div>
       <% end %>

     </div>
</div>
