<!DOCTYPE html>
<html>
  <head>
    <title>Sommel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
     
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to 'Sommel', root_path, class: "logo text-white btn" %>
       <ul class="nav navbar-nav ml-auto">  
          <%= link_to current_user.username, root_path, class: "btn text-white" %>
          <%= link_to 'wine', wines_path, class: "btn text-white" %>
          <%= link_to 'producers', producers_path, class: "btn text-white" %>
          <%= link_to 'reviews', rated_wines_path, class: "btn text-white" %>
          <%= link_to 'logout', '/logout', method: :delete, class: "btn text-white"%>
        </ul>
      </nav>

    <% end %>

    
    <%= yield %>
    
  </body>
</html>
