<!DOCTYPE html>
<html>
  <head>
    <title>Sommel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="alert"><%= alert %></p>

    
      <%= link_to 'Logout', '/users/sign_out', method: :delete%>
      <%= link_to 'Wine', wines_path %>
      <%= link_to 'Producers', producers_path %>
      <%= link_to current_user.username, root_path %>
     

    <%= yield %>
  </body>
</html>
